div.fader {
	height: 100vh; 
	background: linear-gradient(to left,
    	rgb(211,211,211, 0) 0%, 
    	rgb(211,211,211, 1) 15%, 
    	rgb(211,211,211, 1) 85%, 
    	rgb(211,211,211, 0) 100%); 
    padding-left: 250px; 
    padding-right: 250px;
}

body.background {
	background-image: url('https://i.imgur.com/Nbi7bYI.jpg'); 
	padding-top: 50px
}
